* {
    box-sizing: border-box;
    margin: 0;
    color: #1e3636;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #edf5f5;
    position: relative;
}

@media screen and (max-width: 600px) {
    body{
    background-color: lightgrey;}
}

h1 {
    padding: 5px;
    margin: 5px;
    font-size: 40px;
}

h2 {
    font-size: 28px;
    text-align: center;
}

h3 {
    font-size: 20px;
    text-decoration: underline;
    padding: 0.4em;

}
/*navbar and email link styling*/
a {
    text-decoration: none;
    padding-right: 5px;
}

a:hover {
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: #8bc1c1;
    background-color: transparent;
    text-decoration: none;
}

/*Add pipe to navbar*/
.nav-tab::after {
    content: "|";
    padding-left: 0.5em;
}

.nav-tab:last-child:after {
    content: "";
}
/*remove | from navbar when screen too small*/
@media screen and (max-width: 147px) {
    .nav-tab::after {
        content: "";
    }
}
/*navbar styling*/
header {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.navlinks {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

/*Background Imgage*/
.hero {
    height: 1000px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/IMG_8470\ copy.jpg");
    background-size: cover;
    background-position: center;
}

/*About Me Section*/
.about-me {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    font-style: italic;
}

.about-me > p {
    width: 60%;
    margin: 0 auto;
}
/*Application section*/
.applications {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
}

.appone, .apptwo, .appthree {
    flex: 1;
    background-color: #a0d9d9;
}
/*Horiseon App*/
.appone {
    text-align: center;
    display: flex;
    align-items: center;
    padding: 20px;
}

.appone img {
    align-items: center;
    width: 60%;
    height: 60%;
    
}

.text-content-one {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-content-one > p {
    width: 80%;
}
/*second group of nested applications*/
.applications-two {
    display: flex;
    flex-direction: column;
    width: 50%;
}

@media screen and (max-width: 600px){
    .applications-two {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

/*Pre-Work Study guide*/
.apptwo > div {
    display: flex;
}

.text-content-two {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.apptwo img {
    width: 150px;
    height: 200px;
    float: left;
}

.text-content-two > p {
    width: 80%;
    text-align: center;
}

.apptwo, .appthree {
    padding: 20px;
    margin: 10px;
}
/*Coming Soon*/
.text-content-three {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text-content-three > p {
    width: 50%;
    text-align: center;
}

.appthree img {
    width: 150px;
    height: 200px;
    float: left;
}

#appthree-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#appthree-text p {
    width: 80%;
    text-align: center;
}

/*Contact Info*/
.contact-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

.contact-links {
    font-size: 20px;
}

@media screen and (max-width: 600px){
    .contact-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

/*footer*/
footer {
    text-align: center;
    padding: 30px;
    background-color: #519696;
}


