* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #edf5f5;
}

h1 {
    padding: 5px;
    margin: 5px;
    font-size: 40px;
}

h2 {
    font-size: 35px;
    text-align: center;
    color: #1e3636;
}

a {
    text-decoration: none;
    padding-right: 5px;
    color: white;
}
/* ADD HOVER TO LINKS*/
.nav-tab::after {
    content: "|";
    padding-left: 0.5em;
}

.nav-tab:last-child:after {
    content: "";
}

@media screen and (max-width: 147px) {
    .nav-tab::after {
        content: "";
    }
}

a:hover {
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: navy;
    background-color: transparent;
    text-decoration: none;
}

/*Background Imgage*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/IMG_8470\ copy.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.navbar {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
}

.navlinks {
    display:flex;
    flex-wrap: wrap;
}

.about-me {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    font-style: italic;
}

.applications {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    margin: 20px;
    padding: 20px;
}

.applications-two {
    display: flex;
    flex-direction: column;
}

.appone, .apptwo, .appthree {
    /* border: 2px solid black; */
    flex: 1;
    background-color: #a0d9d9;
}

/* .appone, .apptwo, .appthree {
    border: 5px solid black;
    flex: 0 0 0;
    padding: 20px;
    text-align: justify;
    border-style: solid;
    border-width: 1px;
} */

.appone {
    padding: 20px;
    background-color: #a0d9d9;
    text-align: center;
}

.appone img {
    float: left;
    width: 300px;
    height: 400px;
}

.apptwo img {
    width: 150px;
    height: 200px;
    float: left;
}

.apptwo, .appthree {
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.header{
    font-size: 20px;
    color: navy;
}

.contact-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

.contact-links {
    color: black;
    font-size: 20px;
}

footer {
    text-align: center;
    padding: 30px;
    background-color: #749696;
}

/*.applications {
    display: flex;
}

.about-me {
    display: flex;
    justify-content: center;
}

.tm-photo {
    position: relative;
    max-width: 100%;
    height: auto;
} 
  

/*img styling from first challenge*
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}*/